.hero{

padding:120px;

text-align:center;

background:#f7f7f7;

}

.hero h1{

font-size:55px;

color:#0b5ed7;

}

.hero p{

font-size:22px;

margin:30px;

}

button{

background:#ff9800;

color:white;

padding:18px 40px;

font-size:20px;

border:none;

cursor:pointer;

border-radius:8px;

}

button:hover{

background:#e68900;

}
